{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
log in to group
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page'>
	
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div id='logotemp'>
	  	<span id='saltandpepper'>Salt&Pepper</span><span id='beta'> beta</span>
	  </div><!-- end navbar container -->
	</nav><!-- end navbar -->


	<!-- Page 1 of 2, i.e. enter network -->
	<div class='container-fluid'>

		<row>
			
			<div class='col-md-5'> <!-- left panel -->
				<div class='page-main-subheading shift-down-3 padded-container-1'>
					<h2>How would you like to add your photo?</h2>
				</div> 

				<div class='centered_80pc_width  shift-down-3'>
					<a href='#' id='bing-search-button' class='a-button' >Type a description</a>
				</div>

				<div class='centered_80pc_width  shift-down-3'>
					<a href='#' id='webcam-button' class='a-button shift-down-3' >Take a photo</a>
				</div>

				<div class='centered_80pc_width shift-down-3'>
					<a href='#' id='upload-button' class='a-button shift-down-3' >Use a photo on my computer</a>
				</div>

				<div class='centered_80pc_width shift-down-3'>
					<a href='#' id='cancel-button' class='a-button shift-down-3' >I don't want to add a photo</a>
				</div>

			</div> <!-- end left panel -->

			<div class='col-md-7'> <!-- right panel -->
				<div class='page-main-subheading shift-down-3 padded-container-1'>
					<h2 class=' bing-search-content bing-search-disappear'>Type one or more words into the box describing your desired photo:</h2>
					<h2 id='webcam-hint' class='webcam-content'>Click 'take photo' to take a photo!</h2><p class='webcam-content'>Note your computer may ask you for permission to use your camera. You will need to press 'OK', or 'Accept' or 'Allow'</p>
					<h2 id='upload-hint' class='upload-content'>Click 'upload a photo' to upload a photo from your computer</h2>
				</div> 

				<div class='bing-search-content bing-search-disappear'>
					<!-- Bing to go here -->
					<div class='one_line_entry_box centered_80pc_width one_line_entry_box_heavy'>
						<input type="text" name="img-input" id='img-input' placeholder='Type here...' class='big-input'>
					</div>
					<div class='centered_50pc_width shift-down-3 bing-search-content bing-search-disappear'>
						<a href='#' id='bing-search-submit' class='a-button' >Get pictures!</a>
					</div>
				</div> <!-- end bing search body -->

				<div id='bing-search-results'>
					<div class='padded-container'>
						<h2>
							Here we go! Click on an image to send it in your message.
						</h2>
					</div>
						<div id='img-grid'>
							<!-- Images will go here -->
						</div>
				</div>



				<div id='webcam-body' class='webcam-content'>
					<!-- webcam to go here -->
				</div>



				<div id='upload-body' class='upload-content'>
					<!-- upload to go here -->
				</div>


			</div>


		</row> <!-- end LH RH page split -->


	</div> <!-- end container -->
</div> <!-- end centred page -->


				


{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/add_image.js', _external=True)}}"></script>
{% endblock %}

{% endblock %}

