{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
add users
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page initially-hidden'>
	
	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1>
				Add users
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<!-- Page 1 of 2, i.e. enter network -->
	<div class='container-fluid page1of2'>
		<row>
			

			<div class='col-sm-6'>
				<div class='page-main-subheading shift-up'>
					<h2>Either <strong>invite by email</strong>.</h2>
				</div>

				<!-- Hidden network name -->
				<input type="hidden" value="{{session.get('user').get('network')}}" id='network_hidden'>
				
				<div class='one_line_entry_box centered_80pc_width'>
					<input type="text" name="firstname" id='firstname' class='big-input' placeholder='Their first name...' /required>
				</div>
				
				<div class='one_line_entry_box centered_80pc_width'>
					<input type="email" name="email" id='email' class='big-input' placeholder='Their email address...' /required>
				</div>

				<div class='centered_50pc_width'>
					<a href='#' id='submit_email_invitation' class='a-button' >Send invite</a>
				</div>

				<div class='flash-message' id='email_invitation_error'>
					<!--Error message to go here-->
				</div>

			</div>


			<div class='col-sm-6 verticalLine'>
				<div class='page-main-subheading shift-up-3'>
					<h2>Or <strong>create an account on someone's behalf</strong>.</h2>
					<h3 class='shift-up-3'>(A simpler option for those without email)</h3>
				</div>

				<div class='one_line_entry_box centered_80pc_width shift-down-3'>
					<input type="text" name="initial_name" id='initial_name' class='big-input' placeholder='Their first name...' /required>
				</div>
				<div class='one_line_entry_box centered_80pc_width'>
					<input type="text" name="password" id='password' class='big-input' placeholder='Their password...' /required>
				</div>
				<div class='centered_50pc_width'>
					<a href='#' id='create_account_on_behalf' class='a-button' >Create account</a>
				</div>
				<div class='flash-message' id='create_account_error'>
					<!--Error message to go here-->
				</div>

			</div>

		</row>
	</div> <!-- end page 1 of 2 -->

	<div class='container-fluid page2of2'>
		<div class='page-main-subheading shift-down-3'>
			<h2 class='page2a color-success'><strong>User invited!</strong></h2>
			<h2 class='page2b color-success'><strong>User created!</strong></h2>
		</div>
		<div class='pad-bottom-1 width-80'>
		
			<h2 class='page2a'>We have sent a link to <span class='invited-name'>your friend</span> inviting them to your group.</h2>

			<h2 class='page2b'>You now need to show <span class='invited-name'>your friend</span> how to log on at
				<br><a href='{{base_url}}/enter/{{session.get('user').get('network')}}'>{{base_url}}/enter/{{session.get('user').get('network')}}</a><br>
				using the name and password you just created.</h2>

			<!-- <p class='page2b shift-down-20'>Once logged, in <span class='invited-name'>they</span> will be able to change these, if desired. Any forgotten password requests will be sent to your email, unless <span class='invited-name'>he/she</span> adds their own email address.</p> -->
		
		</div>
		<div class='shift-down-3'>
			<a href='#' id='add_another_user' class='a-button width-30 inline padded-container-1 shift-left' >Add another user</a>
			<a href='#' id='go_to_group' class='a-button width-30 inline shift-down-3 padded-container-1' >Go to group!</a>
		</div>
		<div class='white-space'>
		</div>
	</div>


				<!-- <h1>Invite by email</h1>
				<p>The user will receive a link inviting them to the group, and can choose their own username and password</p>
				<form id='email_invite'>
					

					<label for="email">Email address:</label>
					<input type="email" name="email" id='email' /required><br>

					<label for="firstname">First name:</label>
					<input type="firstname" name="firstname" id='firstname' /required><br>

					<label for="admin">Make this user an admin:</label>
					<input type="checkbox" name="admin" id='admin'><br>

					<input type="submit" value="Submit">
				</form>
				<h3>or</h3>
				<h1>Sign them up yourself</h1>
				<p>This is best for people without email, or for whom it would be easier if you create their login details so they can get going right away.</p>
				<form id='add_user_on_behalf'>
					<label for="initial_name">Their first name (or username):</label>
					<input type="text" name="initial_name" id="initial_name" required />
					<br>

					<label for="password">Password:</label>
					<input type="text" name="password" id="password" required/>
					<br>

					<input type="submit" value="Submit">
					<br>
				</form> -->
{% endblock %}

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/common.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/seniors_validation.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/add_users.js', _external=True)}}"></script>
{% endblock %}


