{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
error
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page'>

	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				How it works
				<div class="circle"></div>
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<div class='container-fluid'>
		<div class='page-main-subheading'>
			<h2>Erm, something appears to have gone wrong.</h2>
			<div class='centered_50pc_width'>
				<h3>Did you click on a link to get to this page? Help us improve the site by letting us know of this error.</h3>
			</div>
		</div>
	</div>

</div>

{% endblock %}