{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
feedback
{% endblock %}

{% block body %}
{{ super() }}

{% block feedbacktab %}
<!-- Removes the feedback tab from this page -->
{% endblock %}

<div class='centered-page initially-hidden'>

	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1>
				Get in touch
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<div class='container-fluid'>
		<div class='page-main-subheading shift-up-2'>
			<h2>It's very useful to hear your feedback. How have you found the site? What's easy to use, and what's hard? Are there other features that you would like to see?</h2>
			
		</div>
		<div class='centered_80pc_width'>
			<textarea		wrap="hard"
							name="inputBox"
							placeholder="Please type here..."
							id='feedback-input'
							class="big-input shift-down-1 centered-page"
							value=''></textarea>
		</div>
		<div class='centered_50pc_width'>
		<a href = "/" class='a-button grey-button general-link' id='back-to-group-button' style='display:none'>
			<span class="icon-uniE618"></span>
			Thank you! Click to go back to home.
		</a>
		<a href = "#" class='a-button' id='feedback-submit'>
			<span class="icon-uniE61D"></span>
			Submit your feedback
		</a>
		</div>
		
	</div>

</div>

{% endblock %}

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/feedback.js', _external=True)}}"></script>
{% endblock %}
