{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
logged out
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page'>

	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				You have been logged out
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<div class='container-fluid'>
		<div class='page-main-subheading'>
			<h2>Thank you for using Salt &amp; Pepper</h2>
			<div class='centered_50pc_width'>
				<h3>Come back again soon!</h3>
			</div>
		</div>
	</div>

</div>

{% endblock %}