{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
home
{% endblock %}

{% block body %}
{{ super() }}

{% block feedbacktab %}
<!-- Removes the feedback tab from this page -->
{% endblock %}


<div class='initially-hidden'>
	<header id="home-logo" class='quick-fade quick-fade-1'>
		<div class='quick-fade quick-fade-3'>
					<span id='salt-main'>Salt</span>&amp;<span id='pepper-main'>Pepper</span>
					
		</div>
	</header>
	<div id="home-container" >
	    <div id="home-left" class='quick-fade quick-fade-5'>
	    	<div id="home-left-content" class='quick-fade quick-fade-6'>
	    		<h1>For everyone</h1>
	    		<h2><strong>Salt&amp;Pepper</strong> allows small groups of friends and family to chat and share content. The experience has been designed for those with little confidence or experience with computers. <a href='about' id='about-button'>Click here to see how it works.</a></h2>
	    	</div>
	    </div>
	    <div id="home-right" class='quick-fade quick-fade-8'>
	        <div id="home-right-content" class='quick-fade quick-fade-8'>
	        	<h1>Get started</h1>
	        		<div class='shift-up'>
	        			<a href='signup' class='a-button green-button button-left' id='new-group-button'>
	        				<span class="icon-uniE602"></span>
	        				Create a new group
	        			</a>
	        		</div>
					<div class='shift-up'>
						<a href='enter' class='a-button button-left' id='join-group-button'>
							<span class="icon-uniE603"></span>
						 	Enter an existing group 
						</a>
					</div>
	        </div>
	        {% include 'termsandconditionsnote.html' %}
	    </div>
	</div>
</div>

{% endblock %}



{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/info.js', _external=True)}}"></script>
{% endblock %}

