{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h1>This is where the user will pick their group, then their name, then enter password</h1>

{% if network %}
<p>Press 'Enter' to enter the {{network}} group.</p>
{% else %}
<p>Type in your network name, then press 'Enter'.</p>
{% endif %}
	<form id='choose_network'>
	network: <input type="text" name="network" id='network' value='{{network}}'><br>
	submit: <input type="submit" value="Submit">
	</form>
<div id='user_grid'>
<!-- User list goes here -->
</div>

<div id='password_entry' style="display:none">
	<form>
		enter your password:: <input type="password" id='password_enter_field'><br>
		submit: <input type="submit" value="Submit">
	</form>
</div>

<script src="{{url_for('static', filename = 'js/login.js', _external=True)}}"></script>
{% endblock %}


