{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
log in to group
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page initially-hidden'>

	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				{% if network %}
				Enter the {{network}} group
				{% else %}
				Enter your group
				{% endif %}
			</h1>
			
			<h1 class='page2of2'>Who are you?</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<!-- Page 1 of 2, i.e. enter network -->
	<div class='container-fluid page1of2'>
		<div class='page-main-subheading'>
			{% if network %}
			<h2>Press 'Enter' to enter the {{network}} group.</h2>
			{% else %}
			<h2>Type in your group's name, then press 'Enter'.</h2>
			{% endif %}
		</div>

		<div class='one_line_entry_box centered_50pc_width one_line_entry_box_heavy'>
			<input type="text" name="network" id='network' value='{{network}}' placeholder='Type here...' class='big-input centered-page'>
		</div>
		<div class='centered_20pc_width'>
			<a href='#' id='choose_network_submit' class='a-button' >
				<span class="icon-uniE61D"></span>
				Enter
				
			</a>
		</div>

		<div class='flash-message' id='network-error-message'>
			<!-- Message goes here -->
		</div>
	</div>

	<!-- Page 2 of 2 -->
	<div class='container-fluid page2of2'>
		<row>

			<div class='col-sm-8 shift-up-3'>
				<div class='page-main-subsubheading' style='text-align:left'>
						<h2>Please click on your name:</h2>
				</div>
				<div id='user_grid'>
					<!-- User list goes here -->
				</div>
				<div class='filler'></div>
			</div>

			<div id='password_entry' style="display:none" class='col-sm-4 fix-300'>
					
				<div class='page-main-subsubheading '>
					<h2>Welcome <span id='chosen_name'>X</span>! Please type your password to enter the room.</h2>
				</div>
				
				<div class='shift-up-2'>
					<input type="password" id='password_enter_field' class='big-input centered-page' placeholder='Type here...'/required>
				</div>
				
				<div class='centered_50pc_width shift-down-2'>
					<a href='#' id='password_submit' class='a-button'>
						<span class="icon-uniE61D"></span>
						Enter
						
						
					</a>
				</div>
				<div class='shift-down-2'>
					<p>Forgot your password? <a href='lostpassword' class='general-link'>Click here.</a></p>
				</div>

				<div class='flash-message shift-up-2' id='password-error-message'>
					<h2><!-- Message goes here --></h2>
				</div>

				<div class='filler'></div><div class='filler'></div>

			</div>


	</div> <!-- end main body container -->

{% endblock %}	



{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/seniors_validation.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/login.js', _external=True)}}"></script>
{% endblock %}



