{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
feedback
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page initially-hidden'>

	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				Forgotten password
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<div class='container-fluid'>
		<div class='page-main-subheading centered_80pc_width'>
			<h2>If you have forgotten your password, please email <a href='mailto:saltandpepperit@gmail.com'>saltandpepperit@gmail.com</a> stating your
				<strong>
					<br><br>
					email address
					<br>
					group name
					<br>
					first name
					<br><br>
				</strong>
			and we will be able to reset for you.</h2>
			
		<div class='centered_50pc_width'>
		<a href = "/" class='a-button grey-button general-link'>Click to go back to home.</a>
		</div>
		
	</div>

</div>

{% endblock %}

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/feedback.js', _external=True)}}"></script>
{% endblock %}
