{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}{{session.get('user').get('network')}} room
{% endblock %}

{% block body %}
{{ super() }}
<div class='container-fluid quick-fade quick-fade-1' id='whole-content'>
	<div class="row">
		
		<div class='col-sm-4 grey-panel quick-fade quick-fade-2' id='left-panel'>
			<div class='padded-container'>
				
				
				<div id='welcome-messages' class='can-fade quick-fade quick-fade-2'>
					<h1>Welcome {{session.get('user').get('name')}}!</h1>
					<input type=hidden id='user_name_hidden' value='{{session.get('user').get('name')}}'/> <!-- Store name -->
				</div> <!-- end welcome-messages -->
				

				<div id='add-a-text-post' class='quick-fade quick-fade-5'>
					<textarea
							wrap="hard"
							name="inputBox"
							placeholder="Join the conversation - type your message here!"
							id='post_input'
							class="big-input"></textarea>
					</input>
				</div>
					<a href='#' class='a-button disabled green-button' id='post_submit_button' style='opacity:0'>Click when finished!</a>

				

				<div id='other-options' class=' quick-fade quick-fade-8'>
					<h2 class='can-fade'>Or click to:</h2>
					<row>
						<div class='col-xs-6'>
							<br>
							<p><a href = "add_photo" class='a-button can-fade' id='add-image-button'>Add a photo</a></p>
							<!-- <p><a href = "#" class='a-button can-fade'>Add a video</a></p>
							<p><a href = "#" class='a-button can-fade'>Dictate</a></p> -->
							<br>
							<p><a href = "settings" class='a-button can-fade' id='settings-button'>See settings</a></p>
							
						</div>
						<div class='col-xs-6'>
							<br>
							<p><a href = "help" class='a-button can-fade' id='help-button'>Get help</a></p>
							<br>
							<p><a href = "logout" class='a-button can-fade grey-button' id='logout-button'>Exit</a></p>
						</div>
					</row>
					<row>
						<div class='col-xs-12'>
							
						</div>
					</row>
				</div>


			</div> <!-- end left panel container -->
			
		</div> <!-- end left panel -->
		<div class='col-sm-8  quick-fade quick-fade-8' id='right-panel'>
			
			<a class='navigation-arrow navigation-arrow-up'>
				<span class='glyphicon glyphicon-arrow-up' id='scrollUp'></span>
				<p>Newer</p>
			</a>
			<a class='navigation-arrow navigation-arrow-down'>
				<span class='glyphicon glyphicon-arrow-down' id='scrollDown'></span>
				<p>Older</p>
			</a>

			<div > <!-- could be a padded container?-->

				<div id='post-list-area'>
					<div class='shift-down-3 padded-container centered-page'>
						<img src='http://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif'>
					</div>


				</div>
			</div> <!-- end div holding post list -->
		</div> <!-- end right panel -->
	</div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
	
{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/moment.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/common.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/post.js', _external=True)}}"></script>
{% endblock %}

