{% extends "base.html" %}

{% block title %}
Feed
{% endblock %}

{% block body %}
<h1>Welcome {{session.get('name')}}!</h1>

<h2>You are in the '{{session.get('network')}}' room. Add your comment:</h2>

<div id='post_submit'>
	<form>
		<input type="text" name="inputBox" placeholder="enter your text here" id='post_input'></input>
		<input type="submit" value="Submit">
	</form>
</div>

Or:
<p><a href = "#">Add a photo</a></p>
<p><a href = "#">Add a video</a></p>
<p><a href = "help">Not sure? Click for help!</a></p>
<p><a href = "logout">Not {{session.get('name')}}? Click to change!</a></p>

<div id='post_list'>
	<p>Retrieving posts...</p>
</div>

<script src="{{url_for('static', filename = 'js/post.js', _external=True)}}"></script>

{% endblock %}