{% extends "base.html" %}

{% block title %}
Signup
{% endblock %}

{% block body %}

<div class='centered-page'>
	
	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				Create your group
			</h1>
			
			<h1 class='page2of2'>Choose your user</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<div class='container-fluid'>
		<!-- <div class='page-main-subheading'>
			{% if network %}
			<h2>Press 'Enter' to enter the {{network}} group.</h2>
			{% else %}
			<h2>Type in your network name, then press 'Enter'.</h2>
			{% endif %}
		</div>

		<div class='one_line_entry_box_50pc'>
			<input type="text" name="network" id='network' value='{{network}}' class='big-input'>
		</div>
		<div class='centered_20pc_width'>
			<a href='#' id='choose_network_submit' class='a-button' >Enter</a>
		</div>

		<div class='error-message' id='network_does_not_exist_message'>
			<h2>I'm sorry, it appears this network does not exist. Please try again.</h2>
		</div> -->
		<row>
			<div class='col-sm-10' id='form-container'>
				<row>
					<div class='col-sm-5 form-line'>
					<label for="network">Name of your group</label> 
					</div>
			  		<div class='col-sm-7 form-line'>
			  		<input class=' big-input big-input-multiline-adjust' type="text" name="network" id="network" required />
			  		</div>
				</row>
				<row>
					<div class='col-sm-5 form-line'>
					<label for="name">Your first name</label>
					</div>
					<div class='col-sm-7 form-line'>
			 		 <input class=' big-input big-input-multiline-adjust' type="text" name="name" id="name" required />
			 		 </div>
				</row>
				<row>
					<div class='col-sm-5 form-line'>
					<label for="email">Your email</label>
					</div>
					<div class='col-sm-7 form-line'>
			  		<input class=' big-input big-input-multiline-adjust' type="email" name="email" id="email" required/>
			  		</div>
				</row>
				<row>
					<div class='col-sm-5 form-line'>
			  		<label for="password">Password</label>
			  		</div>
			  		<div class='col-sm-7 form-line'>
			 		 <input class=' big-input big-input-multiline-adjust' type="password" name="password" id="password" required/>
			 		</div>
				</row>
				<row>
					<div class='col-sm-5 form-line'>
			  		<label for="password_confirm">Confirm password</label>
			  		</div>
			  		<div class='col-sm-7 form-line'>
			  		<input class='big-input big-input-multiline-adjust' type="password" name="password_confirm" id="password_confirm" required/>
			  		</div>
				</row>
				<row>
			  		<div class='col-sm-5' for=""></div>
			  		<div class='col-sm-7 form-line'>
			  		<a class='a-button' href='#' id='registration_submit'>I'm finished, let's go!</a>
			  		</div>
				</row>
				
			</div> <!-- end form container -->

			<div class='col-sm-2' id='hints-container'>
				<div id='network-name-status'>
					<span id='network-ok' class='color-success'>Group name<br>is OK!</span>
					<span id='network-not-ok' class='color-fail'>Group name<br>not OK</span>
				</div>
				<div class='filler'> <br></div>
				<div id='hints-div'>
					<h1><!-- Hint title --></h1>
					<p><!--Hint body--></p>
				</div>
			</div> <!-- end hints container -->
	
		<div id='error_messages'></div>
	</div> <!-- end fluid container -->
	

</div> <!-- end centred page -->

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/signup.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/seniors_validation.js', _external=True)}}"></script>
{% endblock %}

{% endblock %}

