{% extends "base.html" %}

{% block title %}
Signup
{% endblock %}

{% block body %}

<div class='centered-page initially-hidden'>
	
	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1>
				Create your group
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<!-- page 1 of 2 for group name and email -->
	<div class='container-fluid page1of2'>
		<row>
			

			<div class='col-sm-6 page1aof2'>
				<div class='page-main-subheading shift-up'>
					<h2><strong>Decide on your group name<strong></h2>
					<h3 class='shift-up-2'>Everyone in the group will need to remember the group name, so make it something memorable.</h3>
				</div>
				

				<div class='one_line_entry_box centered_80pc_width shift-down-3'>
					<input type="text" name="network-input" id='network-input' class='big-input centered-page' placeholder='Type group name here...' /required>
				</div>

				<div class='centered_50pc_width'>
					<a href='#' id='network-submit' class='a-button' >Check name is OK</a>
				</div>

				<div class='flash-message' id='error-network'>
					<!--Error message to go here-->
				</div>
				<div class='flash-message green-text' id='success-network'>
					<!--Success message to go here-->
				</div>

			</div>


			<div class='col-sm-6 page1bof2 vertical-line-sm' style='display:none'>
				<div class='page-main-subheading shift-up'>
					<h2><strong>Connect your email<strong></h2>
					<h3 class='shift-up-2'>As group creator you will have administrator privileges (such as adding group members and resetting passwords). We need your email address in order to be able to contact you.</h3>
				</div>
				

				<div class='one_line_entry_box centered_80pc_width shift-down-3'>
					<input type="text" name="email-input" id='email-input' class='big-input centered-page' placeholder='Type email address here...' /required>
				</div>

				<div class='centered_50pc_width'>
					<a href='#' id='email-submit' class='a-button' >Continue</a>
				</div>

				<div class='flash-message' id='error-email'>
					<!--Error message to go here-->
				</div>
				<div class='flash-message green-text' id='success-email'>
					<!--Success message to go here-->
				</div>

			</div>

		</row>
	</div> <!-- end page 1 of 2 -->

	<!-- page 2 of 2 for username and password -->
	<div class='container-fluid page2of2'>
		<row>
			

			<div class='col-sm-6 page2aof2'>
				<div class='page-main-subheading shift-up'>
					<h2><strong>Enter your first name<strong></h2>
					<h3 class='shift-up-2'>This is what you will be known as in the group. Note that two people can't have identical names in a group (so if there were two Joe's, you may need a <i>Joe A</i> and a <i>Joe B</i>).</h3>
				</div>
				

				<div class='one_line_entry_box centered_80pc_width shift-down-3'>
					<input type="text" name="name-input" id='name-input' class='big-input centered-page' placeholder='Type first name here...' /required>
				</div>

				<div class='centered_50pc_width'>
					<a href='#' id='name-submit' class='a-button' >Continue</a>
				</div>

				<div class='flash-message' id='error-name'>
					<!--Error message to go here-->
				</div>
				<div class='flash-message green-text' id='success-name'>
					<!--Success message to go here-->
				</div>

			</div>


			<div class='col-sm-6 page2bof2 vertical-line-sm' style='display:none'>
				<div class='page-main-subheading shift-up'>
					<h2><strong>Create your password<strong></h2>
					<h3 class='shift-up-2'>You will need to remember this next time you visit!</h3>
				</div>
				

				<div class='one_line_entry_box centered_80pc_width shift-down-3'>
					<input type="password" name="password-input" id='password-input' class='big-input centered-page' placeholder='Type password here...' /required>
				</div>
				<div class='one_line_entry_box centered_80pc_width '>
					<input type="password" name="password-confirm-input" id='password-confirm-input' class='big-input centered-page' placeholder='Confirm password here...' /required>
				</div>

				<div class='centered_50pc_width'>
					<a href='#' id='password-submit' class='a-button' >Let's go!</a>
				</div>

				<div class='flash-message' id='error-password'>
					<!--Error message to go here-->
				</div>
				<div class='flash-message green-text' id='success-password'>
					<!--Success message to go here-->
				</div>

			</div>

		</row>
	</div> <!-- end page 2 of 2 -->
	<div class='filler'></div>

</div> <!-- end centred page -->
{% endblock %}

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/signup.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/seniors_validation.js', _external=True)}}"></script>
{% endblock %}



