{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
Speech
{% endblock %}

{% block body %}
{{ super() }}

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#speech-modal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade modal-widest" id="speech-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-widest centered-page">
    <div class="modal-content">
      
      <div class="modal-body">
        
			<div id='speech-bad-browser' class='speech-hidden'>
				<h2>Not supported in your browser</h2>
			</div>
			<div id='speech-permission-needed' class='speech-hidden'>
				<h2>You need to allow permission using these instructions </h2>
			</div>
			<div id='speech-permission-denied' class='speech-hidden'>
				<h2>Permission denied</h2>
			</div>
			<div id='speech-permission-granted' class='speech-hidden'>

				<div id='speech-intro-text-div'>
					<div class='page-main-subsubheading shift-up-3'>
						<div id='speech-intro-text-first'>
							<h2>Click 'Start listening', and then begin talking.</h2>
							<!-- <h3>(You can use the 'backspace' key on your keyboard to remove words if the computer mis-hears you)</h3> -->
						</div>
						<div id='speech-intro-text-subsequent' class='speech-hidden'>
							<h2>You can now send your message! Or press 'Start listening' to keep going.</h2>
						</div>
						<div id='speech-intro-text-speaking' class='speech-hidden'>
							<h2>Start dictating...</h2>
						</div>
					</div>
				</div>

				<row>
					<div class='col-xs-6 padded-container shift-up-3'>
						<a href='#' class='a-button' id='start-listening-button'>Start listening</a>
					</div>
					<div class='col-xs-6 padded-container shift-up-3'>
						<a href='#' class='a-button id='stop-listening-button'>Stop listening</a>
					</div>
				</row>

				<textarea
						wrap="hard"
						name="inputBox"
						id='speech-input'
						placeholder='Your text will appear here...'
						class="big-input shift-down-1"></textarea>
				</input>
				
				<row>
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button grey-button' id='cancel-button'>Go back - I don't want to dictate</a>
					</div>
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button green-button' id='post-button'>Great, send this to the group!</a>
					</div>
				</row>

				<div class='filler'></div>
				<div class='filler'></div>
				<div class='filler'></div>
				
				
			</div>


      </div>
      
    </div>
  </div>
</div>




{% endblock %}
{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/speech.js', _external=True)}}"></script>
{% endblock %}
