<!-- Modal -->
<div class="modal fade modal-widest" id="speech-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-widest centered-page">
    <div class="modal-content">
      
      <div class="modal-body">
        
			<div id='speech-bad-browser' class='speech-hidden padded-container shift-up-3'>
				<h2>{% include 'browser_not_ok.html' %}</h2>
				<div class='filler'></div>
				<a href='#' class='a-button grey-button centered_50pc_width' data-dismiss="modal">
					<span class="icon-uniE618"></span>
					Go back to group
				</a>
			</div>

			<div id='speech-permission-needed' class='speech-hidden padded-container shift-up-3 centered-page'>
				{% include 'chrome_permission_needed.html' %}
			</div>

			<div id='speech-permission-denied' class='speech-hidden padded-container shift-up-3'>
				{% include 'chrome_permission_denied.html' %}
				<div class='filler shift-up-2'></div>
				<a href='#' class='a-button grey-button centered_50pc_width' data-dismiss="modal">
					<span class="icon-uniE618"></span>
					Go back to group
				</a>
			</div>

			<div id='speech-permission-granted' class='speech-hidden'>

				<div id='speech-intro-text-div'>
					<div class='page-main-subsubheading shift-up-3'>
						<div id='speech-intro-text-speaking' class='speech-hidden'>
							<h2>Start speaking and your words will appear.</h2>
						</div>
						<div id='speech-intro-text-error' class='speech-hidden'>
							<h2>No sound was heard, and listening has been stopped.<br>Press 'Start listening' to try again.</h2>
								<a href='#' class='a-button centered_50pc_width' id='speech-start-listening-button'>
									<span class="icon-uniE609"></span>
									Start listening
								</a>
							<div class='filler'></div>
						</div>

					</div>
				</div>
<!-- 
				<row>
					
					<div class='col-xs-6 padded-container shift-up-3'>
						<a href='#' class='a-button can-fade' id='speech-stop-listening-button'>Stop listening</a>
					</div>
				</row> -->

				<textarea
						wrap="hard"
						name="inputBox"
						id='speech-input'
						placeholder='Your text will appear here...'
						class="big-input shift-down-1"></textarea>
				</input>
				
				<row>
					<div class='centered_80pc_width'>
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button grey-button' id='speech-cancel-button'  data-dismiss="modal">
							<span class="icon-uniE618"></span>
							Stop dictating & go back
						</a>
					</div>
					
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button green-button' id='speech-post-button'>							
							<span class="icon-uniE61D"></span>
							Great, send to the group!
						</a>
					</div>
				</div>
				<!-- 
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button grey-button can-fade' id='speech-test-error-button'  data-dismiss="modal">Test error</a>
					</div> -->
				</row>

				<div class='filler'></div>
				<div class='filler'></div>
				<div class='filler'></div>
				
				
			</div>


      </div>
      
    </div>
  </div>
</div>