
<!DOCTYPE html>
<html lang="en">
  <head>
    

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <title>
        
   
        S&P -      
        test0 room

      </title>

      <!-- Bootstrap and my own themes -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/seniors_v1.css" rel="stylesheet">
      <link href="/static/css/icomoon.css" rel="stylesheet">

      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--<script src="http://localhost:5000/static/js/jquery-2.1.1.min.js"></script>-->
        
      

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    

  </head>
  <body>
    

    <!-- User ID for use in javascript -->
    
      <input type='hidden' id='user_id_hidden' value="53e66691c3b5a088c01ba6e2" />
    
      
      <div id='send-feedback-tab'><a href='feedback' class='general-link'>Have feedback? Need help? Click here!</a></div>
      
    
<div class='container-fluid quick-fade quick-fade-1' id='whole-content'>
	<div class="row">
		
		<div class='col-sm-4 grey-panel quick-fade quick-fade-2' id='left-panel'>
			<div class='padded-container'>
				
				
				<div id='welcome-messages' class='can-fade quick-fade quick-fade-2'>
					<h1>Welcome David!</h1>
					<input type=hidden id='user_name_hidden' value='David'/> <!-- Store name -->
				</div> <!-- end welcome-messages -->
				

				<div id='add-a-text-post' class='quick-fade quick-fade-5'>
					<textarea
							wrap="hard"
							name="inputBox"
							placeholder="Join the conversation - type your message here!"
							id='post_input'
							class="big-input"></textarea>
					</input>
				</div>
					<a href='#' class='a-button disabled green-button' id='post_submit_button' style='opacity:0'>
						<span class="icon-uniE61D"></span>
						Click when finished!
					</a>

				

				<div id='other-options' class=' quick-fade quick-fade-8 shift-down-3'>
					<h2 class='can-fade'>Or click for:</h2>
					<row>
						<div class='col-md-6'>
							
							<p><a href = "add_photo" class='a-button can-fade' id='add-image-button'>
								<span class="icon-uniE605"></span>
								Pictures
							</a></p>
							
							<p><a href = "help" class='a-button can-fade' id='help-button'>
								<span class="icon-uniE614"></span>
								Help
							</a></p>
							
						</div>
						<div class='col-md-6'>
							
							
							<p><a href = "#" class='a-button can-fade' id='dictate-button' data-toggle="modal" data-target="#speech-modal">
								<span class="icon-uniE609"></span>
								Dictation
							</a></p>

							<p><a href = "settings" class='a-button can-fade' id='settings-button'>
								<span class="icon-uniE60E"></span>
								Settings
							</a></p>
							
							
						</div>
					</row>
					<row>
						<div class='col-xs-12 shift-down'>
							<p><a href = "logout" class='a-button can-fade grey-button' id='logout-button'>
								<span class="icon-uniE618"></span>
								Exit
							</a></p>
						</div>
					</row>
				</div>


			</div> <!-- end left panel container -->
			
		</div> <!-- end left panel -->
		<div class='col-sm-8  quick-fade quick-fade-8' id='right-panel'>
			
			<a class='navigation-arrow navigation-arrow-up'>
				<span class='glyphicon glyphicon-arrow-up' id='scrollUp'></span>
				<p>Newer</p>
			</a>
			<a class='navigation-arrow navigation-arrow-down'>
				<span class='glyphicon glyphicon-arrow-down' id='scrollDown'></span>
				<p>Older</p>
			</a>

			<div> <!-- could be a padded container?-->

				<div id="post-list-area">       <section class="post " id="53ea47ec7d5b2d9cacbdb7f3" posted="1407862764">
         <div class="post-img-div">
           <img src="/static/img/rooster-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">Ben</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p><p class="post-body"><img src="https://dl.dropboxusercontent.com/s/eo42258w64z91q6/6ec9944b4f464c9e1a61345d22f68722917b22ccb3a1a5fced1a3361861b.jpeg"></p><p></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post " id="53ea46cb7d5b2d9cacbdb7f2" posted="1407862475">
         <div class="post-img-div">
           <img src="/static/img/rooster-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">Ben</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> This is recording my voice</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea165dc3b5a09b6b914137" posted="1407850077">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea1629c3b5a09b6b914136" posted="1407850025">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea1517c3b5a09b6b914135" posted="1407849751">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> I am typing text</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea12b0c3b5a09abe064bbb" posted="1407849136">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> It works alright</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea12a4c3b5a09abe064bba" posted="1407849124">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> This is a test</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53ea06b6c3b5a09abe064bb9" posted="1407846070">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> This is a test</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9ff00c3b5a0997bb720a4" posted="1407844096">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body">Blah blah blah blah blah blah blah blah blah blah</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9fef8c3b5a0997bb720a3" posted="1407844088">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9feeec3b5a0997bb720a2" posted="1407844078">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> Hello this is my message to the group. I didn't know you could say.. .</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9f62dc3b5a0997bb720a1" posted="1407841837">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body">Hi</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9f427c3b5a0997bb720a0" posted="1407841319">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9f382c3b5a0997bb7209f" posted="1407841154">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"></p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

       <section class="post self-post" id="53e9f305c3b5a0997bb7209e" posted="1407841029">
         <div class="post-img-div">
           <img src="/static/img/lion-icon.png" class="post-img">
         </div> <!-- end img part -->
         <div class="post-alltext">
           <h2 class="post-name">David</h2>
           <span class="post-time">a day ago</span>
           <p class="post-body"> Goodnight</p>
         </div> <!-- end text part -->
       </section> <!-- end post --><hr>

</div>

				<section>
			        <div>
			        	<a href='#' class="a-button" id='show-more-posts-button'>
			           Click here to see older messages 
			           <span style='font-size:70%' class="glyphicon glyphicon-arrow-down"></span>
			        	</a>
			        </div>
			        <div id='show-more-loading-icon' class='centered-page'>
			        	<img src='http://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif'>
			        </div>
			    </section>

			</div> <!-- end div holding post list -->
		</div> <!-- end right panel -->
	</div> <!-- end row -->
</div> <!-- end container -->

<!-- Modal -->
<div class="modal fade modal-widest" id="speech-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-widest centered-page">
    <div class="modal-content">
      
      <div class="modal-body">
        
			<div id='speech-bad-browser' class='speech-hidden padded-container shift-up-3'>
				<h2>Unfortunately, this feature is not available on your browser. We recommend using the Google Chrome browser. <a href='http://www.google.com/chrome/browser/' target='_blank'>Click here to download it</a>.</h2>
				<div class='filler'></div>
				<a href='#' class='a-button grey-button centered_50pc_width' data-dismiss="modal">Go back to group</a>
			</div>
			<div id='speech-permission-needed' class='speech-hidden padded-container shift-up-3 centered-page'>
				
				<h2>Before you can dictate, you need to give us permission to switch on your microphone.</h2>
				<br>
				<p>Towards the top of your screen there should be a message saying that we want to use your microphone. You need to press the small button saying 'Allow' that appears on the right hand side of the message. The picture below shows where you need to click with an orange arrow.<br><br></p>
				<img src='https://dl.dropboxusercontent.com/s/oa7a633203gs3sw/chrome_allow.png' class='img-responsive'/>
				


			</div>
			<div id='speech-permission-denied' class='speech-hidden padded-container shift-up-3'>
				<h2>It looks like you pressed denied us access to your microphone</h2>
				<br>
				<p>If you want to change this, you can always dictate by following these instructions. There is a small red cross near the top of your screen (indicated in the top right of the image below). If you click on this, you are then given the option to continue blocking microphone access, or to once again ask if we can use your microphone. You should select the option indicating that we can ask to use your microphone. You can then press 'Done', and reload the page.<br><br></p>
				<img src='https://dl.dropboxusercontent.com/s/p9652s9em4qelk7/chrome_re-allow.png' class='img-responsive shift-up-3'/>
				<div class='filler shift-up-2'></div>
				<a href='#' class='a-button grey-button centered_50pc_width' data-dismiss="modal">Go back to group</a>

			</div>
			<div id='speech-permission-granted' class='speech-hidden'>

				<div id='speech-intro-text-div'>
					<div class='page-main-subsubheading shift-up-3'>
<!-- 						<div id='speech-intro-text-first'>
							<h2>Click 'Start listening', and then begin talking.</h2>
							<h3>(You can use the 'backspace' key on your keyboard to remove words if the computer mis-hears you)</h3>
						</div>
						<div id='speech-intro-text-subsequent' class='speech-hidden'>
							<h2>You can now send your message! Or press 'Start listening' to keep going.</h2>
						</div> -->
						<div id='speech-intro-text-speaking' class='speech-hidden'>
							<h2>Start speaking and your words will appear.</h2>
						</div>
						<div id='speech-intro-text-error' class='speech-hidden'>
							<h2>No sound was heard, and listening has been stopped.<br>Press 'Start listening' to try again.</h2>
								<a href='#' class='a-button centered_50pc_width' id='speech-start-listening-button'>
									<span class="icon-uniE609"></span>
									Start listening
								</a>
							<div class='filler'></div>
						</div>

					</div>
				</div>
<!-- 
				<row>
					
					<div class='col-xs-6 padded-container shift-up-3'>
						<a href='#' class='a-button can-fade' id='speech-stop-listening-button'>Stop listening</a>
					</div>
				</row> -->

				<textarea
						wrap="hard"
						name="inputBox"
						id='speech-input'
						placeholder='Your text will appear here...'
						class="big-input shift-down-1"></textarea>
				</input>
				
				<row>
					<div class='centered_80pc_width'>
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button grey-button' id='speech-cancel-button'  data-dismiss="modal">
							<span class="icon-uniE618"></span>
							Stop dictating & go back
						</a>
					</div>
					
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button green-button' id='speech-post-button'>							
							<span class="icon-uniE61D"></span>
							Great, send to the group!
						</a>
					</div>
				</div>
<!-- 
					<div class='col-xs-6 padded-container shift-up-2'>
						<a href='#' class='a-button grey-button can-fade' id='speech-test-error-button'  data-dismiss="modal">Test error</a>
					</div> -->
				</row>

				<div class='filler'></div>
				<div class='filler'></div>
				<div class='filler'></div>
				
				
			</div>


      </div>
      
    </div>
  </div>
</div>


    

    
	
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://localhost:5000/static/js/common.js"></script>
      <script src="http://localhost:5000/static/js/my_analytics.js"></script>
      <script src="http://localhost:5000/static/js/bootstrap.min.js"></script>
    
	<script src="http://localhost:5000/static/js/moment.js"></script>
	<script src="http://localhost:5000/static/js/post_v1.js"></script>
	<script src="http://localhost:5000/static/js/speech.js"></script>

  </body>
</html>