{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
{{ super() }}
log in to group
{% endblock %}

{% block body %}
{{ super() }}

<div class='centered-page initially-hidden'>
	
	{% include 'navbar.html' %}

	<div class='horizontal-header'>
		<div class='page-main-heading'>
			<h1 class='page1of2'>
				Welcome {{name}}!
			</h1>
			<h1 class='page2of2'>
				Set your password
			</h1>
		</div>
	</div> <!-- end horizontal-header container -->

	<!-- Page 1 of 2, i.e. confirm name -->
	<div class='container-fluid page1of2'>
		<div class='page-main-subheading'>
			<h2>
				Please confirm we are using your correct first name</h2><h3 class='shift-up-3'>(you can change it if not)
			</h3>
			
			
		</h2>
		</div>

		<div class='one_line_entry_box centered_50pc_width one_line_entry_box_heavy shift-down-3'>
			<!--hidden fields-->
			<input type="hidden" id="name_initial" value='{{name}}'  />
			<input type="hidden" id="network" value='{{network}}'  />
			<input type="hidden" id="email" value='{{email}}'  />

			<input type="text" name="name" id="name" value='{{name}}' class='big-input' required />
		</div>
		<div class='centered_50pc_width'>
			<a href='#' id='confirm_name' class='a-button' >Click here if the name is correct!</a>
		</div>
		
		<div class='flash-message' id='error-name'>
			<!--Error message to go here-->
		</div>
		<div class='flash-message green-text' id='success-name'>
			<!--Success message to go here-->
		</div>

	</div> <!-- end page 1 of 2 fluid container -->

	<div class='container-fluid page2of2'>
		<div class='page-main-subheading'>
			<h2>
				Please make up your password and type it below.
			</h2>
			
		</h2>
		</div>

		<div class='one_line_entry_box centered_50pc_width one_line_entry_box_heavy'>
			<input type="password" name="password" id="password" placeholder='Type password here...' class='big-input' required />
		</div>
		<div class='one_line_entry_box centered_50pc_width one_line_entry_box_heavy'>
			<input type="password" name="password_confirm" id="password_confirm" placeholder='Re-type it, just to confirm...' class='big-input' required />
		</div>
		<div class='centered_50pc_width shift-down-3'>
			<a href='#' id='submit_all_form_data' class='a-button' >Click here to join the group!</a>
		</div>
		<div class='flash-message' id='error-password'>
			<!--Error message to go here-->
		</div>
		<div class='flash-message green-text' id='success-password'>
			<!--Success message to go here-->
		</div>
		
	</div> <!-- end page 2 of 2 fluid container -->
{% endblock %}

{% include 'termsandconditionsnote.html' %}

{% block scripts_bottom %}
	{{ super() }}
	<script src="{{url_for('static', filename = 'js/valid_token.js', _external=True)}}"></script>
	<script src="{{url_for('static', filename = 'js/seniors_validation.js', _external=True)}}"></script>
{% endblock %}



