{% extends "base.html" %}

{% block title %}
Add users
{% endblock %}

{% block body %}
<h1>Welcome to the '{{network}}' group!</h1>
<p>Sign up with your first name and password</p>
<div id='error_messages'></div>
<br><br>

<div >
	<form id='signup_form'>

	  <label for="name">Your first name (or username):</label>
	  <input type="text" name="name" id="name" value='{{name}}' required />
	  <br>

	  <label for="password">Password:</label>
	  <input type="password" name="password" id="password" required/>
	  <br>

	  <label for="password_confirm">Confirm password:</label>
	  <input type="password" name="password_confirm" id="password_confirm" required/>
	  <br>

	  <input type="submit" value="Submit">
	  <br>
	</form>
</div>
<script src="{{url_for('static', filename = 'js/valid_token.js', _external=True)}}"></script>
{% endblock %}